@{
    var username = Context.Session.GetString("User");
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoalGetters</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoalGetters.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-custom fixed-top" style="z-index:100">
            <div class="container-fluid">
                <a class="navbar-brand logoedit" asp-area="" asp-controller="Home" asp-action="Index">GoalGetters</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- Dropdown de times do Brasileirão -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="teamDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Times
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="teamDropdown">
                                <div class="p-3" style="width:260px;">
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 71, page = 1 })"><img src="~/img/teams/athléticoparanaense.png" class="logo-teams" style="object-fit:contain !important" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 67, page = 1 })"><img src="~/img/teams/atléticomineiro.png" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 69, page = 1 })"><img src="~/img/teams/botafogo.png" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 64, page = 1 })"><img src="~/img/teams/corinthians.svg" class="logo-teams" /></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 68, page = 1 })"><img src="~/img/teams/cruzeiro.svg" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 1, page = 1 })"><img src="~/img/teams/flamengo.png" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 61, page = 1 })"><img src="~/img/teams/fluminense.png" class="logo-teams" style="object-fit:contain !important" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 65, page = 1 })"><img src="~/img/teams/grêmio.png" class="logo-teams" /></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 66, page = 1 })"><img src="~/img/teams/internacional.png" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 2, page = 1 })"><img src="~/img/teams/palmeiras.svg" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 62, page = 1 })"><img src="~/img/teams/sãopaulo.png" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 98, page = 1 })"><img src="~/img/teams/redbullbragantino.png" class="logo-teams" /></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 84, page = 1 })"><img src="~/img/teams/criciúma.png" class="logo-teams" style="object-fit:contain !important" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 70, page = 1 })"><img src="~/img/teams/vascodagama.png" class="logo-teams" style="object-fit:contain !important"></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 78, page = 1 })"><img src="~/img/teams/fortaleza.png" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 104, page = 1 })"><img src="~/img/teams/cuiabá.svg" class="logo-teams" style="object-fit:contain !important" /></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 74, page = 1 })"><img src="~/img/teams/vitória.png" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 107, page = 1 })"><img src="~/img/teams/atléticogoianiense.svg" width="30" height="30" style="object-fit:unset" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 73, page = 1 })"><img src="~/img/teams/bahia.png" class="logo-teams" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 106, page = 1 })"><img src="~/img/teams/juventude.png" class="logo-teams" /></a></div>
                                    </div>
                                </div>
                                <!-- Adicione mais times conforme necessário -->
                            </ul>
                        </li>
                    </ul>
                    @if (string.IsNullOrEmpty(username))
                    {
                    <a asp-controller="Login" asp-action="Index"><button type="button" class="btn btn-link" style="margin-left:3rem; text-decoration:none; color:azure"> ENTRAR</button></a>
                    <a asp-controller="Login" asp-action="Register"><button type="button" class="bt buttonLog"><span>REGISTRAR</span></button></a>
                    }
                </div>
            </div>
        </nav>
        <div style="z-index:80; position:fixed">
            @Html.Partial("Sidebar")
        </div>
    </header>
    <div class="page-container" style="display: flex; flex-direction: column; min-height: 100vh;">
        <div class="content-wrap" style="flex: 1;">
            <div class="container" style="z-index:0">
                <main role="main" style="margin-left:6rem; padding-top:5rem">
                    @RenderBody()
                </main>
            </div>
        </div>

        <footer class="footer text-muted" style="position:relative;">
            <div class="container text-center">
                © 2024 - GoalGetters - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Importando o jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Importando o js do bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
