<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoalGetters</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoalGetters.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 fixed-top navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GoalGetters</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <!-- Novo item de menu com dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="teamDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Brasileirão
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="teamDropdown">
                                <div class="container p-3" style="width:300px !important">
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 71 })"><img src="~/img/teams/athléticoparanaense.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 67 })"><img src="~/img/teams/atléticomineiro.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 69 })"><img src="~/img/teams/botafogo.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 64 })"><img src="~/img/teams/corinthians.png" width="30" height="30" /></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 68 })"><img src="~/img/teams/cruzeiro.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 1 })"><img src="~/img/teams/flamengo.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 61 })"><img src="~/img/teams/fluminense.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 65 })"><img src="~/img/teams/gremio.png" width="30" height="30" /></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 66 })"><img src="~/img/teams/internacional.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 2 })"><img src="~/img/teams/palmeiras.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 62 })"><img src="~/img/teams/saopaulo.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 98 })"><img src="~/img/teams/redbullbragantino.png" width="30" height="30" /></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 84 })"><img src="~/img/teams/criciúma.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 70 })"><img src="~/img/teams/vascodagama.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 78 })"><img src="~/img/teams/fortaleza.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 104 })"><img src="~/img/teams/cuiabá.png" width="30" height="30" /></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 74 })"><img src="~/img/teams/vitória.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 107 })"><img src="~/img/teams/atléticogoianiense.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 73 })"><img src="~/img/teams/bahia.png" width="30" height="30" /></a></div>
                                        <div class="col m-1"><a href="@Url.Action("DetailsTeam", "Profile", new { id = 106 })"><img src="~/img/teams/juventude.png" width="30" height="30" /></a></div>
                                    </div>
                                </div>
                                <!-- Adicione mais times conforme necessário -->
                            </ul>
                        </li>
                    </ul>
                    <form asp-controller="Profile" asp-action="Index" class="d-flex">
                        <input type="text" class="form-control searchBar mr-sm-2 flex-grow-1" typeof="search" value="@Context.Session.GetString("SearchName")" name="searchName" placeholder="Procurar jogador, clube..." aria-label="Procurar jogador ou clube" aria-describedby="basic-addon2">
                        <button class="btn searchIco my-2 my-sm-0" type="submit"> <i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container text-center">
            &copy; 2024 - GoalGetters - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
