@model IEnumerable<GoalGetters.Models.Bet>

<div class="bgdetails" style="width:100%; padding:15px !important; margin-bottom:0.5rem; margin-top:0.5rem">
    @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
    {
        <table class="text-white">
            <tr style="border: none; font-size:12px;">
                <td>
                    <strong>
                        @if (item.Value.SelectedOutcome == "1")
                        {
                            @Html.DisplayFor(modelItem => item.Value.HomeTeam)
                        }
                        else if (item.Value.SelectedOutcome == "2")
                        {
                            @Html.DisplayFor(modelItem => item.Value.VisitingTeam)
                        }
                        else
                        {
                            <span>Empate</span>
                        }
                    </strong>
                </td>
            </tr>
            <tr style="border: none; font-size:11px">
                <td style="white-space:nowrap">@Html.DisplayFor(modelItem => item.Value.HomeTeam) <span style="">vs.</span> @Html.DisplayFor(modelItem => item.Value.VisitingTeam)</td>
            </tr>
            <tr style="border: none;" class="row">
                <th style="max-width:60px; width:60px"><strong style="max-width:10px; font-size:18px" id="ChosenOdds-@item.Index">@Html.DisplayFor(modelItem => item.Value.ChosenOdds)</strong></th>
                <td style="max-width:60px; width:60px; text-align: right;"><input asp-for="@item.Value.BetAmount" id="BetAmount-@item.Index" class="form-control dark-mode" style="height:1.5rem; width:7rem;" /></td>
            </tr>
            <tr style="border: none; font-size:11px; text-transform:uppercase">
                <th>@Html.DisplayNameFor(model => model.PossibleReturn)</th>
                <td style="font-weight:600; font-size:12px" id="PossibleReturn-@item.Index">@Html.DisplayFor(modelItem => item.Value.PossibleReturn)</td>
            </tr>
        </table>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('[id^=BetAmount]').on('input', function () {
            var index = this.id.split('-')[1];
            var betAmount = parseFloat($(this).val().replace(',', '.'));
            var chosenOdds = parseFloat($('#ChosenOdds-' + index).text().replace(',', '.'));

            if (!isNaN(betAmount) && !isNaN(chosenOdds)) {
                var possibleReturn = betAmount * chosenOdds;

                // Atualize o campo PossibleReturn
                $('#PossibleReturn-' + index).text(possibleReturn.toFixed(2));
            }
        });
    });
</script>
