@model IEnumerable<GoalGetters.Models.Player>

<h2>Consultar Jogadores</h2>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label for="playerName">Nome do Jogador:</label>
        <input class="m-2" type="text" class="form-control" id="playerName" name="playerName" value="" required>
    </div>
    <button type="submit" class="btn btn-primary">Consultar</button>
</form>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Nome</th>
                @* <th>Cidade</th> *@
                <th>País</th>
                <th>Nasc./Idade</th>
                <th>Altura</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    <td>@player.TeamName</td>
                    <td>@player.Name</td>
                   @*  <td>@player.City</td> *@
                    <td>@player.Country</td>
                    <td>@player.Birth.ToString("dd/MM/yyyy") (@player.Age)</td>
                    <td>@player.Height m</td>
                </tr>
            }
        </tbody>
    </table>
}