@model GoalGetters.Models.Live

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Live</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitingTeam.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitingTeam.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Championship.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Championship.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMatch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMatch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stadium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stadium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitingTeam.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitingTeam.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusMatch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusMatch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPoints1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamPoints1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamPoints2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamPoints2)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
