@using GoalGetters.Helper
@model IEnumerable<GoalGetters.Models.Live>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="refresh" content="60">
</head>

<h4 class="text-white">Jogos ao vivo</h4>

<p class="text-white">
    <a asp-action="CreateLive">Criar novo jogo</a>
</p>

@foreach (var item in Model) {
    <container class="text-white d-flex justify-content-center align-items-center" style="padding-bottom:20px;">
        <div class="bgdetails w-75" style="padding:30px;padding-left:50px;padding-right:50px;">
            <div style="font-size:13px; color: var(--color3limao); margin-top:-10px">
                @{
                    var championshipName = Html.DisplayName(Enum.GetName(typeof(Enums.Championship), item.IdChampionship));
                }
                <p>@championshipName</p>
            </div>
            <div  style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                <div style="width:20px">
                    <img style="margin-bottom:3px" src="~/img/teams/@(item.HomeTeamName.ToLower().Replace(" ", "")).png" alt="Logo" width="40px" height="40px" />
                    <strong>@Html.DisplayFor(modelItem => item.HomeTeamName)</strong>
                </div>
                <div style="width:120px; text-align: center; justify-self:center;">
                    <div class="time_match" style="margin-bottom:10px">
                        @Html.DisplayFor(modelItem => item.ElapsedTime)'

                        @Html.DisplayFor(modelItem => item.StatusMatch)
                    </div>
                    <div sstyle="margin-top:10px">
                        <strong style="background-color: rgba(105, 105, 105, 0.2);border-radius:5px;width:40px;height:40px; padding: 8px">@Html.DisplayFor(modelItem => item.TeamPoints1)</strong>
                        <strong style="color:rgba(105, 105, 105)">:</strong>
                        <strong style="background-color: rgba(105, 105, 105, 0.2);border-radius:5px;width:40px;height:40px; padding: 8px">@Html.DisplayFor(modelItem => item.TeamPoints2)</strong>
                    </div>
                </div>
                <div style="width:120px;display: flex;flex-direction:column; text-align:end; justify-self: end;">
                    <div style="justify-content:end; float:right">
                        <img style="margin-bottom:3px" src="~/img/teams/@(item.VisitingTeamName.ToLower().Replace(" ", "")).png" alt="Logo" width="40px" height="40px" />
                    </div>
                    <div>
                        <strong>@Html.DisplayFor(modelItem => item.VisitingTeamName)</strong>
                    </div>
                </div>
            </div>
        </div>
    </container>
}