@model GoalGetters.Models.Player
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Name;
}

<div class="m-4">
    <h4 class="text-white" style="font-weight: bold !important;">Player</h4>
        <hr />
        <dl class="row text-white">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdTeam)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdTeam)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Birth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Birth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Height)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Height)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Position)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TeamName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TeamName)
            </dd>
        </dl>
    <div>
        @Html.ActionLink("Edit", "EditPlayer", new { entity = "Player", id = Model.Id }) |
        <a asp-action="Index" asp-route-searchName="@Context.Session.GetString("SearchName")">Back to List</a>
    </div>
</div>
