@model GoalGetters.Models.Team
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Name;
    var teamColor = Model.Color1;
}

<style>
    .colorButton {
        background-color: @teamColor !important; /* Substitua por sua cor desejada */
        color: 'black' !important;
    }
</style>

<div class="m-4">
    <h4 class="text-white" style="font-weight: bold !important;"> @Html.DisplayFor(model => model.Name)</h4>
    <div class="container text-white bgdetails" style="border: 2px solid @teamColor;">
        <div>
            <section class="grid grid-template-areas-1">
                <div class="item itemlocal">
                    Local:
                    @Html.DisplayFor(model => model.City) | @Html.DisplayFor(model => model.Country)
                </div>
                <div class="item itemstadium"></div>
                <div class="item itemlogoteam"><img src="~/img/teams/@(Model.Name.ToLower().Replace(" ","")).png" alt="Logo do time" class="team-logo" /></div>
                <div class="item itemaverage"> @Html.DisplayNameFor(model => model.AverageAge): @Html.DisplayFor(model => model.AverageAge)</div>
                <div class="item itemcountplayers"> @Html.DisplayNameFor(model => model.PlayersCount) : @Html.DisplayFor(model => model.PlayersCount) </div>
                <div class="item itemedit"><a href="@Url.Action("EditTeam", new { id = Model.Id })"><i class="fas fa-edit" style="color:#ADD8E6"></i></a></div>
            </section>
        </div>
    </div>

    @if (Model.Players != null)
    {
        <div class="container text-white bgdetails mt-3" style="border: 2px solid @teamColor; margin-bottom:80px">
            <h5 class="text-white" style="font-weight: bold !important;"> Plantel </h5>
            @Html.Partial("PlayerPartial", Model.Players)
            <div>
                @Html.PagedListPager((IPagedList)Model.Players, page => Url.Action("DetailsTeam", new { page }),
                                  new PagedListRenderOptions
                {
                PageClasses = new string[] { "page-link", "dark-mode", "colorButton" },
                    UlElementClasses = new string[] { "pagination", "dark-mode", "border-dark" },
                    LiElementClasses = new string[] { "page-item", "dark-mode" }
                })
            </div>
        </div>
    }
</div>
