@model GoalGetters.Models.Team
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detalhes do Time";
}

<div class="m-4">
    <h4 class="text-white"> @Html.DisplayFor(model => model.Name)</h4>
    <div class="container text-white team-details">
        <div class="row">
            <div class="col">
                <img src="~/img/teams/@(Model.Name.ToLower().Replace(" ","")).png" alt="Logo do time" class="team-logo" />
            </div>
            <div class="col">
                @Html.DisplayNameFor(model => model.Id)
                @Html.DisplayFor(model => model.Id)
            </div>
            <div class="col">
                Local:
                @Html.DisplayFor(model => model.City) | @Html.DisplayFor(model => model.Country)
            </div>
        </div>
    </div>

    @if (Model.Players.Count != 0)
    {
        <div class="container text-white team-details mt-3">
            @Html.Partial("PlayerPartial", Model.Players)
            <div>
                @Html.PagedListPager((IPagedList)Model.Players, page => Url.Action("DetailsTeam", new { page }),
                                  new PagedListRenderOptions
        {
            PageClasses = new string[] { "page-link", "dark-mode" },
            UlElementClasses = new string[] { "pagination", "dark-mode", "border-dark" },
            LiElementClasses = new string[] { "page-item", "dark-mode" }
        })
            </div>
        </div>
    }

    <div class="mt-3">
        @Html.ActionLink("Editar", "EditTeam", new { entity = "Player", id = Model.Id }, new { @class = "btn btn-primary" })
        <a asp-action="Index" asp-route-searchName="@Context.Session.GetString("SearchName")" class="btn btn-secondary">Voltar à lista</a>
    </div>
</div>
