@model IEnumerable<GoalGetters.Models.Player>

<p>
    <a asp-action="CreateTeam" class="btn btn-primary">Create New</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birth) (@Html.DisplayNameFor(model => model.Age))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var player in Model) {
        <tr>
            <td>
                <img src="~/img/teams/@(player.TeamName.ToLower().Replace(" ", "")).png" alt="Logo" width="30px" height="30px" />
            </td>
            <td>
                <a asp-action="DetailsTeam" asp-route-id="@player.IdTeam">@Html.DisplayFor(modelItem => player.TeamName)</a>
            </td>
            <td>
                <a asp-action="DetailsPlayer" asp-route-id="@player.Id">@Html.DisplayFor(modelItem => player.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.Country)
            </td>
            <td>
                @player.Birth.ToString("dd/MM/yyyy") (@player.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => player.Height)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPlayer", new { id = player.Id, entity = "player" }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "DeletePlayer", new { id = player.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
