@model IPagedList<GoalGetters.Models.Team>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    var username = Context.Session.GetString("User");
}

<table class="table text-white" style="font-size:14px; margin-bottom:20px">
    <thead>
        <tr class="text-muted">
            <th style="width:100px">

            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var team in Model) {
        <tr>
            <td>
                    <img src="~/img/teams/@(team.Name.ToLower().Replace(" ", "")).png" alt="Logo do time" width="30px" height="30px" />
            </td>
            <td>
                    <a asp-action="DetailsTeam" asp-route-id="@team.Id">@Html.DisplayFor(modelItem => team.Name)</a>
            </td>
            <td>
                    <img src="~/img/country/@(team.Country.ToLower().Replace(" ", "")).png" alt="Logo" width="22px" height="17px" />
            </td>
                @if (username == "Admin")
                {
                 <td>
                        <a href="@Url.Action("EditTeam", new { id = team.Id })"><i class="fas fa-edit" style="color:#ADD8E6"></i></a>
                        <a href="@Url.Action("DeleteTeam", new { id = team.Id })"><i class="fas fa-trash" style="margin-left:10px; color:#FA8072"></i> </a>
                </td> 
                }
        </tr>
}
    </tbody>
</table>

